KC_model_RI_II.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  xmlns:xs = "http://www.w3.org/2001/XMLSchema"
            xmlns:dsi = "https://ptb.de/si"
            elementFormDefault="qualified">
            
            <xs:import namespace = "https://ptb.de/si"
            schemaLocation = "https://www.ptb.de/si/v2.1.0/SI_Format.xsd"/>
            
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This schema is prototype to report BIPM.RI(II)-K1 comparisons in a machine-readable document. 
                </xs:documentation>
            </xs:annotation>
            
    <xs:element name = "Comparison">
        <xs:complexType>
            <xs:sequence minOccurs = "0" maxOccurs = "1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Key comparison results are key data in the realization of the derived unit becquerel for a given radionuclide.
                        The ultimate semantic reference for this derived SI unit is provided by https://si-digital-framework.org/si-unit/Bq
                        The key comparison results are officially publish on BIPM the Key Comparison DataBase https://www.bipm.org/kcdb/
                        
                        Successful participation in this comparison by a laboratory may provide evidential support for 
                        Calibration and Measurement Capability (CMC) claims for [nuclide] measured using the laboratory’s 
                        method(s) used in the comparison or methods calibrated by those used for the comparison. This
                        comparison may also be used to support CMC claims for those radionuclides measured in the laboratory 
                        using the same method and having a degree of difficulty at or below that of the radionuclide measured 
                        in this comparison as indicated in the current Measurement Methods Matrix (MMM)[1].
                        [1] International Rules for CMC Claims in Ionizing Radiation Metrology Doc 3 March 16 2021 (Sept 2020),
                        Consultative Committee for Ionizing Radiation metrology (CCRI),
                        https://www.bipm.org/documents/20126/54619299/Rules+for+entering+CMC+claims+in+ionizing+radiation+metrology/c0b97b77-99e1-4abb-1d10-9a90a35fc9bf
                        
                        Additionally, to facilitate machine readability and actionability,
                        the key comparison reference value and degrees of equivalence obtained in BIPM.RI(II)-K1 comparisons are made available in this machine-readable document.
                        The metadata supporting these results are also included in this machine-readable document.
                        The root structure is composed of:
                        _ The general information about the key comparison (xml element: "General_information")
                        _ The results of the key comparison (xml element: "Comparison_data")
                        _ The metadata (administrative and technical) supporting these results (xml element: "Comparison_metadata")
                    </xs:documentation> 
                </xs:annotation>
                <xs:element name = "General_information">
                    <xs:complexType>
                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The general information of the comparison are:
                                    _ the comparison code of the key comparison (xml element: "Comparison_code") such as defined in the CIPM MRA file:///C:/Users/romain.coulon/Downloads/CIPM-MRA-G-11.pdf
                                    _ the identification of the pilot laboratory
                                </xs:documentation> 
                            </xs:annotation>                         
                            <xs:element name = "Comparison_code" type="xs:string"></xs:element>
                            <xs:element name = "ServiceCategoryID" type="xs:anyURI"></xs:element>       
                            <xs:element name = "Pilot">
                                <xs:complexType>
                                    <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">
                                                The pilot laboratory is identified by: 
                                                _ The acronym given is the list of signatories of the CIPM MRA: https://www.bipm.org/en/cipm-mra/participation/ 
                                                _ The RoR identifier (when available): https://ror.org/ 
                                            </xs:documentation> 
                                        </xs:annotation>                                                                  
                                        <xs:element name = "Acronym" type = "xs:string"></xs:element>
                                        <xs:element name = "ROR_indentifier" type = "xs:anyURI"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "Comparison_data">
                    <xs:complexType>
                        <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                            <xs:element name = "Release">
                                <xs:complexType>
                                    <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">
                                                The comparison data is reported with the following elements: 
                                                _ The DOI of the related Metrologia technical supplement (xml element: "doi")
                                                _ The year of the comparison, meaning the year of the first publication or update of the comparison results (xml element: "Year")
                                                _ The KCRV (xml element: "KCRV")
                                                _ The degrees of equivalence (xml element: "Degrees_of_equivalence")
                                            </xs:documentation>
                                        </xs:annotation>   
                                        <xs:element name = "doi" type="xs:anyURI"></xs:element>
                                        <xs:element name = "Year" type="xs:gYear"></xs:element>
                                        <xs:element name = "KCRV" minOccurs = "0" maxOccurs = "1">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                    <xs:annotation>
                                                        <xs:documentation xml:lang="en">
                                                            In May 2013, the CCRI(II) decided to calculate the KCRV by using the power-moderated weighted mean (PMM).
                                                            https://doi.org/10.1088/0026-1394/52/3/S200
                                                            key comparison results can be selected for the KCRV with the following provisions: 
                                                            _ results for solutions standardized by only primary techniques are accepted,
                                                                 with the exception of radioactive gas standards (for which results from transfer instrument measurements that are directly traceable to a primary measurement in the laboratory may be included); 
                                                            _ each NMI or other laboratory may use only one result (normally the most recent result or the mean if more than one ampoule is submitted);
                                                            _ results more than 20 years old are included in the calculation of the KCRV but are not included in data shown in the KCDB or in the plots in this report, as they have expired;Acronym
                                                            _ possible outliers can be identified on a mathematical basis and excluded from the KCRV using the normalized error test with a test value of 2.5 and using the modified uncertainties;
                                                            _ results can also be excluded for technical reasons; and
                                                            _ the CCRI(II) is always the final arbiter regarding excluding any data from the calculation of the KCRV.\\ 
                                                                Although the KCRV may be modified when other NMIs participate, on the advice of the Key Comparison Working Group of the CCRI(II),
                                                                such modifications are made only by the CCRI(II) during one of its biennial meetings,
                                                                or by consensus through electronic means (e.g., email) as discussed at the CCRI(II) meeting in 2013.
                                                                
                                                            The key comparison reference value (KCRV) is defined by a dsi: real element.
                                                            This element is expected to contain a value, a multiple of becquerel as unit,
                                                            and a standard uncertainty (a coverage factor equal to 1).
                                                            The becquerel unit is defined in https://si-digital-framework.org/si-unit/Bq
                                                            and the possible prefixes in https://si-digital-framework.org/si-prefixes/
                                                        </xs:documentation> 
                                                    </xs:annotation>
                                                    <xs:element ref="dsi:real"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "Degrees_of_equivalence" minOccurs ="0" maxOccurs = "unbounded">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                                    <xs:element name = "linked_comparison" minOccurs = "0">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                <xs:annotation>
                                                                    <xs:documentation xml:lang="en">
                                                                        In some cases, CCRI(II) or regional key comparisons could have been linked to the SIR.
                                                                        The degrees of equivalence in compliance with BIPM.RI(II)-K1 comparisons are provided.
                                                                        The linked comparison is identified
                                                                        _ by its CIPM-MRA identifier file:///C:/Users/romain.coulon/Downloads/CIPM-MRA-G-11.pdf (xml element: "Comparison_code")
                                                                        _ the Consultative Committee (CC) that organize the comparison (xml element: "Consultative_Committee")
                                                                        _ or the Regional Metrology Organization (RMO) that organize the comparison (xml element: "RMO")
                                                                        _ the year when the comparison was carried out (xml element: "Year")
                                                                        _ the DOI of the report of the linked comparison (xml element: "doi")  
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                                <xs:element name = "Comparison_code" type="xs:string"></xs:element>
                                                                <xs:element name = "Consultative_Committee" type="xs:string" minOccurs="0"></xs:element>
                                                                <xs:element name = "RMO" type="xs:string" minOccurs="0"></xs:element>
                                                                <xs:element name = "Year" type="xs:gYear"></xs:element>
                                                                <xs:element name = "doi" type="xs:anyURI"></xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name = "Degree_of_equivalence">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:annotation>
                                                                    <xs:documentation xml:lang="en">
                                                                        Every participant in a comparison is entitled to have one result included in the KCDB as long as the NMI is a signatory or designated institute listed in the CIPM MRA and the result is valid (i.e., not older than 20 years).
                                                                        An NMI may withdraw its result only if all other participants agree.
                                                                        The degree of equivalence of a given measurement standard is the degree to which this standard is consistent with the KCRV.
                                                                        The degree of equivalence is expressed quantitatively in terms of the deviation from the key comparison reference value and the expanded uncertainty of this deviation ($k = 2$).
                                                                        The CCRI(II) agree on the following statement on degree of equivalence evaluated in BIPM.RI(II)-K1 comparisons: 
                                                                        _ The degree of equivalence of the result of a particular NMI, $i$, with the key comparison reference value is expressed as the difference $D_{i}$ between the values $D_{i}=A_{\textrm{e}i}-KCRV$
                                                                            and the expanded uncertainty ($k=2$)  of this difference, $U_{i}$, known as the equivalence uncertainty; hence $U_{i}=2u(D_{i})$.
                                                                        _ When the result of the NMI $i$ is included in the KCRV with a weight $w_{i}$, then $u^{2}(D_{i})=(1-2w_{i})u_i^{2}+u^{2}(KCRV)$.
                                                                        _ However, when the result of the NMI $i$ is not included in the KCRV, then $u^2(D_i)=u_i^2+u^2(KCRV)$.
                                                                        
                                                                        A degree of equivalence is reported with the following elements:
                                                                        _ The laboratory (xml element: "laboratory")
                                                                        _ The degree of equivalence defined by a dsi:real element.
                                                                            This element is expected to contain a value, a multiple of becquerel as unit,
                                                                            and an expanded uncertainty with a coverage factor equal to 2.
                                                                            The becquerel unit is defined in https://si-digital-framework.org/si-unit/Bq
                                                                            and the possible prefixes in https://si-digital-framework.org/si-prefixes/
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                                <xs:element name = "laboratory">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="en">
                                                                                    The participant laboratory is identified by: 
                                                                                    _ The acronym (xml element: "Acronym") given is the list of signatories of the CIPM MRA: https://www.bipm.org/en/cipm-mra/participation/ 
                                                                                    _ The past acronyms that this institute used in the past
                                                                                    _ The RoR identifier (xml element: "ROR") : https://ror.org/ 
                                                                                </xs:documentation> 
                                                                            </xs:annotation>                                                                           
                                                                            <xs:element name = "Acronym" type = "xs:string"></xs:element>
                                                                            <xs:element name = "PastAcronyms" type = "xs:string" minOccurs = "0"></xs:element>      
                                                                            <xs:element name = "ROR" type = "xs:anyURI" minOccurs = "0"></xs:element>                                                                
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element ref="dsi:real"></xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "Comparison_metadata">
                    <xs:complexType>
                        <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">         
                                    The metadata of key comparisons BIPM.RI(II)-K1 provide administrative and technical information
                                    on each submission (xml element: "Submission") that contribute to the realization of the derived unit becquerel for a given radionuclide.
                                    The ultimate semantic reference for the becquerel unit is provided by https://si-digital-framework.org/si-unit/Bq
                                </xs:documentation>
                            </xs:annotation>
                            <xs:element name = "Submission">
                                <xs:complexType>
                                    <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en">         
                                                A submission to obtain a degree of equivalence is described by providing details on:
                                                _ The participating laboratory (xml element: "laboratory")
                                                _ The year of the participation, ie measurement by the SIR  (xml element: "year")
                                                _ The boolean indicator (true or false) saying if the result is used in the KCRV (xml element: "inKCRV")
                                                _ The boolean indicator (true or false) saying if the result is currently valid for a degree of equivalence published in the KCDB (xml element: "DoE_valid")
                                                _ Details on the radioactive standard solution (xml element: "Radioactive_solutions")
                                                _ Details on the activity measurement carried out by the laboratory (xml element: "Laboratory_measurements")
                                                _ Details on the SIR measurement (equivalent activity) carried out by the BIPM (xml element: "BIPM_measurements")
                                            </xs:documentation>
                                        </xs:annotation>                                          
                                        <xs:element name = "laboratory">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                    <xs:annotation>
                                                        <xs:documentation xml:lang="en">
                                                            The participant laboratory is identified by: 
                                                            _ The acronym (xml element: "Acronym") given is the list of signatories of the CIPM MRA: https://www.bipm.org/en/cipm-mra/participation/ 
                                                            _ The RoR identifier (xml element: "ROR") : https://ror.org/ 
                                                        </xs:documentation> 
                                                    </xs:annotation>                                                       
                                                    <xs:element name = "Acronym" type = "xs:string"></xs:element>
                                                    <xs:element name = "PastAcronyms" type = "xs:string" minOccurs = "0"></xs:element>   
                                                    <xs:element name = "ROR" type = "xs:anyURI" minOccurs = "0"></xs:element>                                                                
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "year" type = "xs:gYear"></xs:element>
                                        <xs:element name = "inKCRV" type = "xs:boolean"></xs:element>
                                        <xs:element name = "DoE_valid" type = "xs:boolean"></xs:element>
                                        <xs:element name = "Radioactive_solutions" minOccurs = "0" maxOccurs = "1">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                                    <xs:element name = "Radioactive_solution">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                <xs:annotation>
                                                                    <xs:documentation xml:lang="en">
                                                                        A radioactive standard solution submitted by a laboratory is defined by:
                                                                        _ An identifier (xml element: "Solution_ID") built such that RLY-I
                                                                            R: the radionuclide (eg. Ce-139)
                                                                            L: the acronym of the laboratory given in https://www.bipm.org/en/cipm-mra/participation/
                                                                            Y: the year of the measurement in the SIR
                                                                            I: an incremental number to identifier each ampoule in a set of ampoule sent by the laboratory
                                                                        _ The mass measurement of the solution carried out by the laboratory (xml element: "mass")
                                                                        _ The density measurement of the solution carried out by the laboratory (xml element: "density")
                                                                        _ The chemical composition of the solution (xml element: "Chemical_composition")
                                                                        _ Details on possible impurities contained in the solution (xml element: "impurities")
                                                                    </xs:documentation> 
                                                                </xs:annotation>    
                                                                <xs:element name = "Solution_ID" type = "xs:string"></xs:element>
                                                                <xs:element name = "mass" minOccurs = "0" maxOccurs = "1">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="en">         
                                                                                This mass measurement is defined by a dsi:real element.
                                                                                This element is expected to contain a value, a multiple of kilogram as unit,
                                                                                and a (optional) standard uncertainty (a coverage factor equal to 1).
                                                                                The SI unit gram is defined in https://si-digital-framework.org/si-unit/g
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:element ref="dsi:real"></xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                 <xs:element name = "density" minOccurs = "0" maxOccurs = "1">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                             <xs:annotation>
                                                                                 <xs:documentation xml:lang="en">         
                                                                                 This density measurement is defined by a dsi:real element.
                                                                                 This element is expected to contain a value, a coherent derived unit for the derived quantity density,
                                                                                 and a (optional) standard uncertainty (a coverage factor equal to 1).
                                                                                 The composed unit is defined in https://si-digital-framework.org/si-unit/g.cm-3
                                                                                 </xs:documentation>
                                                                             </xs:annotation>
                                                                             <xs:element ref="dsi:real"></xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "Chemical_composition" minOccurs = "0" maxOccurs = "1">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:element name = "Solvant" minOccurs = "0" maxOccurs = "1">
                                                                                <xs:complexType>
                                                                                    <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                                                                        <xs:annotation>
                                                                                            <xs:documentation xml:lang="en">
                                                                                                The solvant is identified by: 
                                                                                                _ The SMILES identifier, media type: chemical/x-daylight-smiles
                                                                                                _ The InChIKey identifier  http://inchi.info/inchikey_overview_en.html
                                                                                                _ The InChI identifier https://iupac.org/project/2000-025-1-800/
                                                                                            </xs:documentation> 
                                                                                        </xs:annotation>
                                                                                        <xs:element name = "SMILES" type = "xs:string" minOccurs = "0" maxOccurs = "1"></xs:element>
                                                                                        <xs:element name = "InChIKey" type = "xs:string" minOccurs = "0" maxOccurs = "1"></xs:element>
                                                                                        <xs:element name = "InChI" type = "xs:string" minOccurs = "0" maxOccurs = "1"></xs:element>
                                                                                        <xs:element name = "SolvantConcentration" minOccurs = "0" maxOccurs = "1">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                                     <xs:annotation>
                                                                                                         <xs:documentation xml:lang="en">         
                                                                                                         This concentration measurement is defined by a dsi:real element.
                                                                                                         This element is expected to contain a value, a coherent derived unit for the derived quantity amount of substance concentration,
                                                                                                         The composed unit is defined in https://si-digital-framework.org/si-unit/mol.dm-3
                                                                                                         </xs:documentation>
                                                                                                     </xs:annotation>
                                                                                                     <xs:element ref="dsi:real"></xs:element>                                                                                                
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name = "Carrier" minOccurs = "0" maxOccurs = "unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                        <xs:annotation>
                                                                                            <xs:documentation xml:lang="en">
                                                                                                The carrier molecule is identified by: 
                                                                                                _ The SMILES identifier, media type: chemical/x-daylight-smiles
                                                                                                _ The InChIKey identifier  http://inchi.info/inchikey_overview_en.html
                                                                                                _ The InChI identifier https://iupac.org/project/2000-025-1-800/
                                                                                            </xs:documentation> 
                                                                                        </xs:annotation>                                                                                    
                                                                                        <xs:element name = "SMILES" type = "xs:string" minOccurs = "0" maxOccurs = "1"></xs:element>
                                                                                        <xs:element name = "InChIKey" type = "xs:string" minOccurs = "0" maxOccurs = "1"></xs:element>
                                                                                        <xs:element name = "InChI" type = "xs:string" minOccurs = "0" maxOccurs = "1"></xs:element>
                                                                                        <xs:element name = "CarrierConcentration" minOccurs = "0" maxOccurs = "1">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                                     <xs:annotation>
                                                                                                         <xs:documentation xml:lang="en">         
                                                                                                         This concentration measurement is defined by a dsi:real element.
                                                                                                         This element is expected to contain a value, a coherent derived unit for the quantity mass ratio,
                                                                                                         The composed unit is defined in https://si-digital-framework.org/si-unit/µg.g-1
                                                                                                         </xs:documentation>
                                                                                                     </xs:annotation>
                                                                                                     <xs:element ref="dsi:real"></xs:element>     
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "impurities" type = "xs:string"></xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "Laboratory_measurements" minOccurs = "0" maxOccurs = "1">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                    <xs:element name = "Mesurement" minOccurs = "0" maxOccurs = "unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                <xs:annotation>
                                                                    <xs:documentation xml:lang="en">
                                                                        An activity measurement carried out by a laboratory is defined by:
                                                                        _ The reference date (xml element: "Reference_date")
                                                                        _ The identifier of the measured solution (xml element: "Solution_ID") built such that RLY-I
                                                                            R: the radionuclide (eg. Ce-139)
                                                                            L: the acronym of the laboratory given in https://www.bipm.org/en/cipm-mra/participation/
                                                                            Y: the year of the measurement in the SIR
                                                                            I: an incremental number to identifier each ampoule in a set of ampoule sent by the laboratory
                                                                        _ The half-life used by the laboratory (xml element: "Half-life")
                                                                        _ The identifier (xml element: "Method_ID") of the standardization method such as it has been defined by the CCRI(II)  https://github.com/RomainCoulon/BIPM.RI-II--K1_database/blob/main/FAIRversions/Acronyms.csv
                                                                        _ A more detailed description of the measurement method in string (xml element: "Description")
                                                                        _ Possible additional comments on the measurements (xml element: "Comments")
                                                                        _ The result of the activity measurement (xml element: "Activity")
                                                                    </xs:documentation> 
                                                                </xs:annotation> 
                                                                <xs:element name = "Reference_date" type = "xs:dateTime"></xs:element>
                                                                <xs:element name = "Solution_ID" type = "xs:string"></xs:element>
                                                                <xs:element name = "Half-life" minOccurs = "0">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="en">         
                                                                                    The half-life is defined by a dsi:real element.
                                                                                    This element is expected to contain a value, a base unit for the quantity time,
                                                                                    and a (optional) standard uncertainty (a coverage factor equal to 1).
                                                                                    The base unit second is defined in https://si-digital-framework.org/si-unit/s
                                                                                    and the possible prefixes in https://si-digital-framework.org/si-prefixes/
                                                                                    The reference (optional) of the half-life evaluation is given in the xml element: "reference"  
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:element ref="dsi:real"></xs:element>
                                                                            <xs:element name = "reference" minOccurs = "0">
                                                                                <xs:complexType>
                                                                                    <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                                        <xs:annotation>
                                                                                            <xs:documentation xml:lang="en">         
                                                                                                The reference could be defined by the bibliographical description in string (xml element: "detail")
                                                                                                or/and the DOI of the document (xml element: "doi").
                                                                                            </xs:documentation>
                                                                                        </xs:annotation>
                                                                                        <xs:element name = "detail" type = "xs:string" minOccurs = "0"></xs:element>
                                                                                        <xs:element name = "doi" type = "xs:anyURI" minOccurs = "0"></xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "Method_ID" type = "xs:string" minOccurs = "0"></xs:element>
                                                                <xs:element name = "Description" type = "xs:string" minOccurs = "0"></xs:element>
                                                                <xs:element name = "Comments" type = "xs:string" minOccurs = "0"></xs:element>
                                                                <xs:element name = "Activity" minOccurs = "0" maxOccurs = "1">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="en">         
                                                                                    The activity measurement is defined by a dsi:real element.
                                                                                    This element is expected to contain a value, a multiple derive unit becquerel,
                                                                                    and a standard uncertainty (a coverage factor equal to 1).
                                                                                    The derived SI unit becquerel is defined in https://si-digital-framework.org/si-unit/Bq
                                                                                    and the possible prefixes in https://si-digital-framework.org/si-prefixes/
                                                                                    Additionally,
                                                                                    _ relative standard uncertainty from type A evaluation is given as a dimensionless decimal (xml element: "relative_standard_uncertainty_type_A")
                                                                                    _ relative standard uncertainty from type B evaluation is given as a dimensionless decimal (xml element: "relative_standard_uncertainty_type_B")  
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:element ref="dsi:real"></xs:element>
                                                                            <xs:element name = "relative_standard_uncertainty_type_A" type = "xs:decimal" minOccurs = "0" maxOccurs = "1"></xs:element>
                                                                            <xs:element name = "relative_standard_uncertainty_type_B" type = "xs:decimal" minOccurs = "0" maxOccurs = "1"></xs:element>                                                                            
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "BIPM_measurements">
                                            <xs:complexType>
                                                <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                                    <xs:element name = "BIPM_measurement">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs = "0" maxOccurs = "unbounded">
                                                                <xs:annotation>
                                                                    <xs:documentation xml:lang="en">         
                                                                        The measurement of the BIPM using the SIR is described by:
                                                                        _ the solution(s) that have been measured (xml element: "Solutions")
                                                                        _ the standardization method(s) used by the laboratory to estimate the activity (xml element: "Methods")
                                                                        _ the reference Ra-226 source used for the SIR measurement (xml element: "Reference_source")
                                                                        _ the equivalence activity evaluation by the SIR (xml element: "Equivalent_activity") 
                                                                    </xs:documentation>
                                                                </xs:annotation>                                                                
                                                                <xs:element name = "Solutions" minOccurs = "0" maxOccurs = "1">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:element name = "Solution_ID" type = "xs:string" maxOccurs = "unbounded"></xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "Methods" minOccurs = "0" maxOccurs = "1">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:element name = "Method" type = "xs:string" maxOccurs = "unbounded"></xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "Reference_source" type = "xs:string" minOccurs = "0"></xs:element>
                                                                <xs:element name = "Equivalent_activity">
                                                                    <xs:complexType>
                                                                        <xs:sequence minOccurs = "0" maxOccurs = "1">
                                                                            <xs:annotation>
                                                                                <xs:documentation xml:lang="en">         
                                                                                    The equivalent activity measurement is defined by a dsi:real element.
                                                                                    This element is expected to contain a value, a multiple derive unit becquerel,
                                                                                    and a standard uncertainty (a coverage factor equal to 1).
                                                                                    The derived SI unit becquerel is defined in https://si-digital-framework.org/si-unit/Bq
                                                                                    and the possible prefixes in https://si-digital-framework.org/si-prefixes/
                                                                                    In addition,
                                                                                    _ the relative standard uncertainty from the SIR system is given as a dimensionless decimal (xml element: "relative_standard_uncertainty_type_A")
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:element ref="dsi:real"></xs:element>
                                                                            <xs:element name = "relative_standard_uncertainty_from_SIR" type = "xs:decimal" minOccurs = "0"></xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name = "fromLinkedComparison" type = "xs:string" minOccurs = "0"></xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
